CREATE DATABASE QLPhongTro
GO
USE QLPhongTro
GO
-- Đăng nhập
-- Quản lý tài khoản (thêm, sửa, xóa,tìm kiếm)
-- Đổi mật khẩu cá nhân
-- Quản lý loại phòng (thêm,sửa,xóa,tìm kiếm)
-- Quản lý phòng (thêm,sửa,xóa,tìm kiếm)
-- Quản lý khách hàng(thêm,sửa,xóa,tìm kiếm)
-- Thuê phòng
-- Trả phòng
-- Tính tiền phòng hàng tháng cho từng phòng
-- Thống kê doanh thu
-- Đăng xuất
CREATE TABLE DangNhap
(
	MaDangNhap VARCHAR(32) PRIMARY KEY NOT NULL,
	TenNguoiDung NVARCHAR(128) NOT NULL,
	MatKhau NVARCHAR(128) NOT NULL,
)
GO
CREATE TABLE LoaiPhongTro
(
	MaLoaiPhong VARCHAR(32) PRIMARY KEY NOT NULL,
	TenLoaiPhong NVARCHAR(128) NOT NULL,
	DienTichPhong DECIMAL NOT NULL,
	GiaPhong DECIMAL NOT NULL,
	GhiChu NVARCHAR(128)
)
GO
CREATE TABLE TrangThai
(
	Loai VARCHAR(32) NOT NULL,
	Ma VARCHAR(32) NOT NULL,
	Ten NVARCHAR(128) NOT NULL,
)
GO
CREATE TABLE Tang
(
	MaTang VARCHAR(32) PRIMARY KEY,
	TenTang NVARCHAR(256) NOT NULL,
	GhiChu NVARCHAR(256) NULL,
)
GO
CREATE TABLE PhongTro
(
	MaPhongTro VARCHAR(32) PRIMARY KEY NOT NULL,
	TenPhong NVARCHAR(128) NOT NULL,
	MaLoaiPhong VARCHAR(32) FOREIGN KEY REFERENCES LoaiPhongTro(MaLoaiPhong) NOT NULL,
	TrangThai VARCHAR(32),
	GhiChu NVARCHAR(128),
	MaTang VARCHAR(32) FOREIGN KEY REFERENCES Tang(MaTang) NULL
)
GO
CREATE TABLE KhachHang
(
	MaKhachHang VARCHAR(32) PRIMARY KEY,
	TenKhachHang NVARCHAR(256) NOT NULL,
	DienThoai VARCHAR(32) NOT NULL,
	DiaChi NVARCHAR(256),
	CMND VARCHAR(16),
	Email NVARCHAR(128)
)
GO
CREATE TABLE ThuePhong
(
	MaPhieuThue VARCHAR(32) PRIMARY KEY,
	MaPhong VARCHAR(32) FOREIGN KEY REFERENCES PhongTro(MaPhongTro) NOT NULL,
	NgayThue DATETIME NOT NULL,
	NgayTra DATETIME NULL,
	TienCoc DECIMAL NOT NULL
)
GO
CREATE TABLE ChiTietThuePhong
(
	MaPhieuThue VARCHAR(32) FOREIGN KEY REFERENCES ThuePhong(MaPhieuThue) NOT NULL,
	MaKhachHang VARCHAR(32) FOREIGN KEY REFERENCES KhachHang(MaKhachHang) NOT NULL
)
GO
CREATE TABLE DichVu
(
	TienDien DECIMAL NOT NULL,
	TienNuoc DECIMAL NOT NULL,
	TienWifi DECIMAL NOT NULL,
	TienRac DECIMAL NOT NULL,
)
GO
CREATE TABLE DongTien
(
	Thang DECIMAL,
	Nam DECIMAL,
	MaPhong VARCHAR(32) FOREIGN KEY REFERENCES PhongTro(MaPhongTro) NOT NULL,
	TienPhong DECIMAL NOT NULL,
	TienDien DECIMAL NOT NULL,
	TienDienGia DECIMAL NOT NULL,
	TienDienTong DECIMAL NOT NULL,
	TienNuoc DECIMAL NOT NULL,
	TienNuocGia DECIMAL NOT NULL,
	TienNuocTong DECIMAL NOT NULL,
	TienWifi DECIMAL NOT NULL,
	TienRac DECIMAL NOT NULL,
	ChiPhiKhac DECIMAL NOT NULL,
	TongTien DECIMAL NOT NULL,
	TrangThai BIT
)
GO
CREATE TABLE HinhAnhPhong
(
	MaPhongTro VARCHAR(32) FOREIGN KEY REFERENCES PhongTro(MaPhongTro) NOT NULL,
	DuongDan NVARCHAR(512) NOT NULL
)
GO
INSERT INTO TrangThai (Loai,Ma,Ten)VALUES(N'TTPHONG',N'1',N'Còn trống')
INSERT INTO TrangThai (Loai,Ma,Ten)VALUES(N'TTPHONG',N'2',N'Đã thuê')
GO
INSERT INTO DangNhap (MaDangNhap,TenNguoiDung,MatKhau)VALUES(N'ADMIN',N'ADMIN',N'123')
INSERT INTO DangNhap (MaDangNhap,TenNguoiDung,MatKhau)VALUES(N'TEST',N'Tài khoản test',N'123')
GO
INSERT INTO KhachHang (MaKhachHang,TenKhachHang,DienThoai,DiaChi,CMND)VALUES(N'MYLINH',N'Mỹ Linh',N'0124512451',N'Bình Định',N'124145555')
INSERT INTO KhachHang (MaKhachHang,TenKhachHang,DienThoai,DiaChi,CMND)VALUES(N'NAMLE',N'Lê Nam',N'1214512365',N'Hà Nội',N'14522222')
INSERT INTO KhachHang (MaKhachHang,TenKhachHang,DienThoai,DiaChi,CMND)VALUES(N'NGOCTRAN',N'Ngọc Trân',N'0124512541',N'Đà Nẵng',N'141245121')
GO
INSERT INTO LoaiPhongTro (MaLoaiPhong,TenLoaiPhong,DienTichPhong,GiaPhong,GhiChu)VALUES(N'THEOGIO',N'Phòng thuê theo giờ',25,120000,N'120k 1 giờ')
INSERT INTO LoaiPhongTro (MaLoaiPhong,TenLoaiPhong,DienTichPhong,GiaPhong,GhiChu)VALUES(N'THUONG',N'Loại phòng thường',16,1800000,N'')
INSERT INTO LoaiPhongTro (MaLoaiPhong,TenLoaiPhong,DienTichPhong,GiaPhong,GhiChu)VALUES(N'VIP',N'Phòng vip',30,3000000,N'')
GO
INSERT INTO Tang (MaTang,TenTang,GhiChu)VALUES(N'TANG1',N'Tầng 1',N'')
INSERT INTO Tang (MaTang,TenTang,GhiChu)VALUES(N'TANG2',N'Tầng 2',N'')
INSERT INTO Tang (MaTang,TenTang,GhiChu)VALUES(N'TANG3',N'Tầng 3',N'')
GO
INSERT INTO PhongTro (MaPhongTro,TenPhong,MaLoaiPhong,TrangThai,GhiChu,MaTang)VALUES(N'PHONG01',N'Phòng số 1',N'THUONG',N'1',N'',N'TANG1')
INSERT INTO PhongTro (MaPhongTro,TenPhong,MaLoaiPhong,TrangThai,GhiChu,MaTang)VALUES(N'PHONG02',N'Phòng số 2',N'VIP',N'1',N'',N'TANG1')
INSERT INTO PhongTro (MaPhongTro,TenPhong,MaLoaiPhong,TrangThai,GhiChu,MaTang)VALUES(N'PHONG03',N'Phòng số 3',N'THUONG',N'1',N'',N'TANG1')
GO
INSERT INTO DichVu (TienDien,TienNuoc,TienWifi,TienRac)VALUES(4000,9000,100000,40000)

